---
- name: Upgrade ansible
  import_playbook: playbooks/ansible-playbook.yml

- name: Install arandr
  import_playbook: playbooks/arandr-playbook.yml

- name: Install awscli
  import_playbook: playbooks/awscli-playbook.yml

- name: Add bash theme
  import_playbook: playbooks/bash-theme-playbook.yml

- name: Install calibre
  import_playbook: playbooks/calibre-playbook.yml

- name: Install crowdstrike
  import_playbook: playbooks/crowdstrike-playbook.yml

- name: Install discord
  import_playbook: playbooks/discord-playbook.yml

- name: Install docker-compose
  import_playbook: playbooks/docker-compose-playbook.yml

- name: Install docker
  import_playbook: playbooks/docker-playbook.yml

- name: Install elixir
  import_playbook: playbooks/elixir-playbook.yml

- name: Install ffmpeg
  import_playbook: playbooks/ffmpeg-playbook.yml

- name: Install firefox
  import_playbook: playbooks/firefox-playbook.yml

- name: Install forticlient
  import_playbook: playbooks/forticlient-playbook.yml

- name: Install git stuff
  import_playbook: playbooks/git-playbook.yml

- name: Install gnome
  import_playbook: playbooks/gnome-playbook.yml

- name: Install golang
  import_playbook: playbooks/golang-playbook.yml

- name: Install Google Chrome
  import_playbook: playbooks/google-chrome-playbook.yml

- name: Install helm
  import_playbook: playbooks/helm-playbook.yml

- name: Install istioctl
  import_playbook: playbooks/keepassxc-playbook.yml

- name: Install KeePassXC
  import_playbook: playbooks/keepassxc-playbook.yml

- name: Configure keyboard
  import_playbook: playbooks/keyboard-playbook.yml

- name: Install kubernetes
  import_playbook: playbooks/kubernetes-playbook.yml

- name: Install kustomize
  import_playbook: playbooks/kustomize-playbook.yml

- name: Install Ngrok
  import_playbook: playbooks/ngrok-playbook.yml

- name: Install Node Exporter
  import_playbook: playbooks/node-exporter-playbook.yml
  vars:
    host_ip: <YOUR_IP>

- name: Install nodejs
  import_playbook: playbooks/nodejs-playbook.yml

- name: Install postman
  import_playbook: playbooks/postman-playbook.yml

- name: Install Proton Pass
  import_playbook: playbooks/protonpass-playbook.yml

- name: Install protonvpn
  import_playbook: playbooks/protonvpn-playbook.yml

- name: Install pulumi
  import_playbook: playbooks/pulumi-playbook.yml

- name: Install ruby
  import_playbook: playbooks/ruby-playbook.yml

- name: Install signal
  import_playbook: playbooks/signal-playbook.yml

- name: Install spotify
  import_playbook: playbooks/spotify-playbook.yml

- name: Generate ssh keys
  import_playbook: playbooks/ssh-playbook.yml

- name: Install steam
  import_playbook: playbooks/steam-playbook.yml

- name: Install tailscale
  import_playbook: playbooks/tailscale-playbook.yml
  vars:
    debian_stable_codename: bookworm

- name: Install suwayomi
  import_playbook: playbooks/suwayomi-playbook.yml

- name: Add bash telegram
  import_playbook: playbooks/telegram-playbook.yml

- name: Install terraform
  import_playbook: playbooks/terraform-playbook.yml

- name: Install thefuck
  import_playbook: playbooks/thefuck-playbook.yml

- name: Install vlc
  import_playbook: playbooks/vlc-playbook.yml

- name: Install VSCodium
  import_playbook: playbooks/vscodium-playbook.yml

- name: Configure xfce4-panel
  import_playbook: playbooks/xfce4-panel-playbook.yml

- name: Install zoom
  import_playbook: playbooks/zoom-playbook.yml
