---
- name: Install dependencies
  become: yes
  become_user: root
  dnf:
    name:
      - python3-pip
      - python3-setuptools
    state: latest
    update_cache: no

- name: Install thefuck
  become: yes
  become_user: root
  pip:
    name: thefuck

- name: Check if exist bash aliass
  command: 'grep -F "thefuck" {{ bashrc_path }}'
  register: thefuck_alias
  changed_when: false
  failed_when: false
  check_mode: no

- set_fact:
    thefuck_current_alias: '{{ thefuck_alias.stdout }}'
  when:
    - thefuck_alias.stdout is defined

- name: Add thefuck alias
  lineinfile:
    path: '{{ bashrc_path }}'
    line: '{{ thefuck_command }}'
  when:
    - thefuck_current_alias != thefuck_command
