---
- name: playbook to install discord
  hosts: localhost
  connection: local
  vars_files:
    - ../vars/discord.yml

  tasks:
    - name: Check if discord is installed
      become: yes
      command: dpkg -s discord
      register: check_installed_version
      changed_when: false
      failed_when: false

    - set_fact:
        installed_version: "{{ check_installed_version.stdout | regex_search('(\\d+(\\.\\d+)+)') }}"
      when:
        - check_installed_version.stdout is defined

    - name: Download discord
      get_url:
        url: '{{ url }}'
        dest: '{{ deb_path }}'

    - name: Get latest version
      become: yes
      command: 'dpkg-deb -f {{ deb_path }} Version'
      register: latest_version

    - name: Install Discord
      become: yes
      apt:
        deb: '{{ deb_path }}'
      when: >
        installed_version is not defined
        or installed_version == ''
        or installed_version is version(latest_version.stdout, '<')
