---
- name: playbook to install docker-compose
  hosts: localhost
  connection: local

  tasks:
    - include_tasks: debian/docker-compose-playbook.yml
      when: ansible_distribution == 'Debian' or ansible_distribution == 'Ubuntu'

    - include_tasks: fedora/docker-compose-playbook.yml
      when: ansible_distribution == 'Fedora'
