---
- name: playbook to install KeePassXC
  hosts: localhost
  connection: local
  vars_files:
    - ../vars/keepassxc.yml

  tasks:
    - include: ../common/download-from-github.yml

    - name: Add Syncthing GPG Key
      become: yes
      apt_key:
        url: '{{ gpg_key }}'
        state: present

    - name: Add Syncthing Repository
      become: yes
      apt_repository:
        repo: '{{ repository }}'
        state: present
        update_cache: yes

    - name: Update apt and install Syncthing
      become: yes
      apt:
        name: syncthing
        state: latest
        update_cache: no
