---
- name: playbook to install kubernetes tools
  hosts: localhost
  connection: local
  vars_files:
    - ../vars/kubernetes.yml

  tasks:
    - name: Install dependencies
      apt:
        name:
          - apt-transport-https
          - gnupg2
          - curl
        state: latest
        update_cache: no

    - name: Check current kubectl version
      command: kubectl version --client
      register: kubectl_vsn
      changed_when: false
      failed_when: false
      check_mode: no

    - set_fact:
        kubectl_current_version: "{{ kubectl_vsn.stdout | regex_search('(v\\d+(\\.\\d+)+)') }}"
      when:
        - kubectl_vsn.stdout is defined

    - name: Install or upgrade kubectl
      become: yes
      get_url:
        url : "https://storage.googleapis.com/kubernetes-release/release/{{ kubectl_version }}/bin/linux/amd64/kubectl"
        dest: /usr/local/bin/kubectl
        mode: 'a+x'
        force: yes
      when: >
        kubectl_current_version is not defined
        or kubectl_current_version is version(kubectl_version, '!=')

    - name: Mark to hold kubectl
      become: yes
      dpkg_selections:
        name: kubectl
        selection: hold

    - name: Install kubectx and kubens
      become: yes
      apt:
        name: kubectx
        state: latest
        update_cache: no

    - name: Install or upgrade minikube
      become: yes
      apt:
        name: minikube
        state: latest
        update_cache: no
