---
- name: playbook to install kubernetes tools
  hosts: localhost
  connection: local
  vars_files:
    - ../vars/kubernetes.yml

  tasks:
    - name: Install dependencies
      become: yes
      apt:
        name:
          - apt-transport-https
          - gnupg2
          - curl
        state: latest
        update_cache: no
    
    - name: Add stable repository
      become: yes
      apt_repository:
        repo: deb http://ftp.br.debian.org/debian stable main
        state: present
        update_cache: yes

    - name: Check current kubectl version
      command: kubectl version --client
      register: kubectl_vsn
      changed_when: false
      failed_when: false
      check_mode: no

    - set_fact:
        kubectl_current_version: "{{ kubectl_vsn.stdout | regex_search('(v\\d+(\\.\\d+)+)') }}"
      when:
        - kubectl_vsn.stdout is defined

    - name: Add Kubernetes GPG apt key
      become: yes
      apt_key:
        url: '{{ kubernetes_apt_key }}'
        state: present

    - name: Add Kubernetes Repository
      become: yes
      apt_repository:
        repo: '{{ kubernetes_apt_repo }}'
        state: present
        update_cache: yes

    - name: Install or upgrade kubectl
      become: yes
      apt:
        name: 'kubectl={{ kubectl_version }}'
        force: yes
      when: >
        kubectl_current_version is not defined
        or kubectl_current_version is version(kubectl_version, '!=')

    - name: Mark to hold kubectl
      become: yes
      dpkg_selections:
        name: kubectl
        selection: hold

    - name: Install kubectx and kubens
      become: yes
      apt:
        name: kubectx
        state: latest
        update_cache: no

    - name: Install or upgrade minikube
      become: yes
      apt:
        name: minikube
        state: latest
        update_cache: no
